.timers {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.timer__progress {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#36c912 0deg, #fff 0deg);
}

.timer__progress::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer__value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.timer__clear {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
